.vscode/**
.vscode-test/**
.vscodeignore
vsc-extension-quickstart.md
.qoder
deprecated/**
.history/


# LaTeX build artifacts (keep document.pdf tracked)
software-copyright/*.aux
software-copyright/*.log
software-copyright/*.out
software-copyright/*.synctex.gz
software-copyright/*.toc
software-copyright/*.fls
software-copyright/*.xdv
software-copyright/*.synctex(busy)
software-copyright/*.fdb_latexmk
software-copyright/*/src
software-copyright/*_excerpt.pdf
software-copyright/latexmkrc
software-copyright/*/软件著作权申请表.docx
software-copyright/md-highlighter软著材料*
